<style>
    header #nav {
        display: none !important;
    }
</style>
<main class="my-5" style="flex: 1 1 0">
    <section>
        <div class="container">
            <h1 class="p-0 mb-3">Consulte os pagamentos</h1>
            <div class="card">
                <div class="card-header">
                    {{!-- Filtro --}}
                    <h2 class="h3">Filtro</h2>
                    <form method="GET" class="mb-2">
                        <div class="d-flex align-items-end gap-5">
                            <div>
                                <label class="sort">Ordem de criação:</label>
                                <select name="sort" id="sort" class="form-select">
                                    <option value="DESC">Recente -> Antigo</option>
                                    <option value="ASC">Antigo -> Recente</option>
                                </select>
                            </div>
                            <div>
                                <label class="limit">Limite por página:</label>
                                <select name="limit" id="limit" class="form-select">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <div>
                                <label class="filter">Status:</label>
                                <select name="filter" id="filter" class="form-select">
                                    <option value="approved">Aprovado</option>
                                    <option value="in_process">Pendente</option>
                                    <option value="rejected">Rejeitado</option>
                                </select>
                            </div>
                            <div class="d-none">
                                <input type="text" name="page" id="page" value="1">
                            </div>
                            <input type="submit" value="Filtrar" class="btn btn-primary">
                        </div>
                    </form>
                    <hr>
                    {{!-- Extração de relatório --}}
                    <h2 class="h3">Relatório</h2>
                    <form action="/admin/extract-payments" method="post">
                        <div class="d-flex align-items-end gap-5">
                            <div>
                                <label for="initialDate">Data inicial:</label>
                                <input type="date" name="initialDate" id="initialDate" class="form-control" required>
                            </div>

                            <div>
                                <label for="finalDate">Data final:</label>
                                <input type="date" name="finalDate" id="finalDate" class="form-control" required>
                            </div>

                            <div>
                                <label for="selectedStatus">Status:</label>
                                <select class="form-select" name="selectedStatus" id="selectedStatus" required>
                                    <option value="" disabled>Selecione</option>
                                    <option value="all">Todos</option>
                                    <option value="pending">Pendente</option>
                                    <option value="approved">Aprovado</option>
                                    <option value="rejected">Recusado</option>
                                </select>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-success">
                                    Extrair relatório
                                    <i class="bi bi-file-earmark-spreadsheet"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="container">
                    <div class="card-body w-100" style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 16px;">
                        {{#each payments}}
                            <div class="mb-3 px-2 py-4 border border-{{#styleBorderPayment status}}{{/styleBorderPayment}} rounded">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p class="mb-1">
                                            <b>ID: </b> {{transactionId}}
                                        </p>
                                        <p class="mb-1">
                                            <b>Transação: </b> {{#formatPaymentType payment_type_id}}{{/formatPaymentType}}
                                        </p>
                                        <p class="mb-1">
                                            <b>Valor: </b>R$ {{#formatTransactionAmount transaction_amount}}{{/formatTransactionAmount}}
                                        </p>
                                        <p class="mb-1">
                                            <b>Status: </b>{{#returnStatusMP status}}{{/returnStatusMP}}
                                        </p>
                                        <p class="mb-1">
                                            <b>{{docType}}: </b>{{docNumber}}
                                        </p>
                                    </div>
                                    <div class="d-flex justify-content-end align-items-start">
                                        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target=".update{{id}}"><i class="bi bi-pencil-fill"></i></button>
                                    </div>
                                </div>
                                
                                <hr>
                                {{#each visaIDs}}
                                    <p class="mb-1">
                                        <b>Nome: </b>{{this.firstName}} {{this.surname}}
                                    </p>
                                    <p class="mb-1">
                                        <b>Código de acompanhamento: </b>{{this.codeETA}}
                                    </p>
                                {{/each}}
                                <p class="mb-1">
                                    <b>Criado em: </b>{{#formatDate createdAt}}{{/formatDate}}
                                </p>
                            </div>
                            {{!-- SOLICITAÇÂO MODAL ATUALIZAÇÃO --}}
                            <div class="modal fade update{{id}}" tabindex="-1" aria-pledby="exampleModalP" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalP">Atualize o status do pagamento</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-p="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/admin/edit-payment/{{id}}" method="POST">
                                                <label class="mb-2" for="statusPayment{{id}}">Status do pagamento</label>
                                                <select class="form-select mb-3" name="statusPayment" id="statusPayment{{id}}" required>
                                                    <option value="" disabled>Selecione</option>
                                                    <option value="pending">Pendente</option>
                                                    <option value="approved">Aprovado</option>
                                                    <option value="rejected">Recusado</option>
                                                </select>

                                                <input type="submit" class="btn btn-warning fw-bold text-uppercase mt-2" value="Atualizar">
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{else}}
                            <h3>Não há registro de pagamentos</h3>
                        {{/each}}
                    </div>
                        <div class="d-flex flex-column justify-content-center my-2">
                            <p>Total de pagamentos realizados: {{totalPayments}}</p>
                            <div class="d-flex flex-row justify-content-center gap-3">
                                {{#paginationPayment page totalPages limit sort filter}}{{/paginationPayment}}
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>
    document.getElementById('link-logo-home').href = '/admin'

    var elementoPai = document.getElementById("header-container")
    var novoElementoFilho = document.createElement("div")
    novoElementoFilho.innerHTML = `
        <a href="/admin/register-user" class="mx-4" style="color: white">Registrar usuário</a>
        <a href="/admin/consult-users" class="mx-4" style="color: white">Consultar usuários</a>
        <a href="/admin/consult-payments" class="mx-4" style="color: white">Consultar pagamentos</a>
        <a href="/users/logout" class="ms-4 btn btn-danger text-upperccase fw-bold">Sair</a>
    `
    elementoPai.appendChild(novoElementoFilho)

    window.onload = function() {
        document.getElementById("sort").value = "{{sort}}"
        document.getElementById("limit").value = "{{limit}}"
        document.getElementById("filter").value = "{{filter}}"
    }
</script>
