<style>
    label {
        font-weight: bold;
    }
    .text-red {
        color: #FF0000
    }
</style>
<main class="my-4" style="flex: 1 1 0">
    <section class="container">
        <h1>Solicitação de Autorização Eletrônica de Viagem (eTA)</h1>
        <hr>
        {{#each errors}}
            <div class="alert alert-danger">{{text}}</div>
        {{else}}
        {{/each}}
        <h2>Acompanhe o progresso da sua aplicação de visto</h2>
        <div class="progress mt-3 mb-5">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                <p class="m-0 p-0">1. Representante ou titular?</p>
            </div>
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                <p class="m-0 p-0">2. Validação</p>
            </div>
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                <p class="m-0 p-0">3. Documentos</p>
            </div>
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                <p class="m-0 p-0">4. Pagamento</p>
            </div>
        </div>
        <h2 class="mb-5">Confira as informações respondidas anteriormente</h2>
        
        <form action="/aplicacaoStep4" method="POST">
            {{#if data.representative}}
                <h3 class="h4">Dados do representante</h3>
                <label class="mb-2" for="representative">Você é responsável ou representante que apresenta a solicitação de eTA em nome de outra pessoa?</label>
                <div class="p-2 w-50 d-flex flex-row gap-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="representative" id="representative1" value="0" disabled required>
                        <label class="form-check-label" for="representative1">
                            Não
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="representative" id="representative2"value="1" checked required>
                        <label class="form-check-label" for="representative2">
                            Sim
                        </label>
                    </div>
                </div>

                <label for="representativeRelationship">Eu sou</label>
                <select class="form-select w-50 mb-3" name="representativeRelationship" id="representativeRelationship" required>
                    <option value="parent-friend">Parente ou amigo</option>
                    <option value="org-rel">Membro de uma organização não governamental ou religiosa</option>
                    <option value="iccrc">Membro do Conselho Regulatório de Consultores de Imigração (ICCRC)</option>
                    <option value="juridico-territorial">Uma sociedade jurídica provincial ou territorial do Canadá</option>
                    <option value="notarios">A Câmara de Notários do Quebec</option>
                    <option value="agent">Agente de viagens</option>
                </select>

                <label for="payed">Você está sendo pago para representar o requerente e preencher o formulário em seu nome?</label>
                {{#if data.representativePayed}}
                    <div class="p-2 w-50 d-flex flex-row gap-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="representativePayed" id="representativePayed1" value="0" disabled required>
                            <label class="form-check-label" for="representativePayed1">
                                Não
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="representativePayed" id="representativePayed2"value="1" checked required>
                            <label class="form-check-label" for="representativePayed2">
                                Sim
                            </label>
                        </div>
                    </div>
                {{else}}
                    <div class="p-2 w-50 d-flex flex-row gap-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="representativePayed" id="representativePayed1" value="0" checked required>
                            <label class="form-check-label" for="representativePayed1">
                                Não
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="representativePayed" id="representativePayed2"value="1" disabled required>
                            <label class="form-check-label" for="representativePayed2">
                                Sim
                            </label>
                        </div>
                    </div>
                {{/if}}
                <label for="representativeName">Nome:</label>
                <input class="form-control mb-3 w-50" type="text" name="name" id="name" value="{{data.representativeName}}" required>

                <label for="representativeSurname">Sobrenome(s):</label>
                <input class="form-control mb-3 w-50" type="text" name="surname" id="surname" value="{{data.representativeSurname}}" required>

                <label for="representativeOrgName">Nome da empresa:</label>
                <input class="form-control mb-3" type="text" name="orgname" id="orgname" value="{{data.representativeOrgName}}" required>

                <label for="representativeAddress">Endereço:</label>
                <input class="form-control mb-3 w-50" type="text" name="address" id="address" value="{{data.representativeOrgName}}" required>

                <label for="representativeEmail">E-mail:</label>
                <input class="form-control mb-3 w-50" type="email" name="email" id="email" value="{{data.representativeEmail}}" required>

                <label for="representativeNumTel">Número de telefone:</label>
                <input class="form-control mb-3 w-50" type="text" name="numTel" id="numTel" value="{{data.representativeNumTel}}" required>

                <label for="representativeNumIDmebro">Número de identificação de membro:</label>
                <input class="form-control mb-3" type="text" name="numIDmebro" id="numIDmebro" value="{{representativeNumIDmebro}}" required>

                <label for="representativeProvOrTer">Província ou território:</label>
                <input class="form-control mb-3" type="text" name="provOuTer" id="provOuTer" value="{{data.representativeProvOrTer}}" required>

                <label for="representativeCodpostal">Código postal:</label>
                <input class="form-control mb-3" type="text" name="codpostal" id="codpostal" value="{{data.representativeCodpostal}}" required>
                <hr>
            {{/if}}

            <h3 class="h4">Perguntas de validação</h3>

            <label class="mb-2" for="document">Qual documento de viagem você pretende usar para viajar ao Canadá?</label>
            <a type="button" data-bs-toggle="modal" data-bs-target="#documentModal">
                <i class="bi bi-question-circle-fill btn"></i>
            </a>
            <select class="form-select w-50 mb-3" name="document" id="document" onchange="showFields(this.value)" required>
                <option value="pass-commom" selected>Passaporte – comum/regular</option>
            </select>

            <label for="codPassport" class="m-0">Seu passaporte foi emitido no Brasil?.</label>
            <a type="button" data-bs-toggle="modal" data-bs-target="#codPassportModal">
                <i class="bi bi-question-circle-fill btn"></i>
            </a>
            <p class="m-0"><small>Verifique o código de três letras que encontra-se na página de informações do seu passaporte.</small></p>
            {{#if data.passportBrazil}}
                <div class="p-2 w-50 d-flex flex-row gap-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="passportBrazil" id="passportBrazil1" value="0" disabled required>
                        <label class="form-check-label" for="passportBrazil1">
                            Não
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="passportBrazil" id="passportBrazil2" value="1" checked required>
                        <label class="form-check-label" for="passportBrazil2">
                            Sim
                        </label>
                    </div>
                </div>
            {{else}}
                <div class="p-2 w-50 d-flex flex-row gap-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="passportBrazil" id="passportBrazil1" value="0" checked required>
                        <label class="form-check-label" for="passportBrazil1">
                            Não
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="passportBrazil" id="passportBrazil2" value="1" disabled required>
                        <label class="form-check-label" for="passportBrazil2">
                            Sim
                        </label>
                    </div>
                </div>
            {{/if}}

            <label for="residentUSCIS" class="mt-3">Você é um residente permanente legal dos Estados Unidos com um número válido dos Serviços de Cidadania e Imigração dos EUA (USCIS)?</label>  
            {{#if data.residentUSCIS}}
                <div class="p-2 w-50 d-flex flex-row gap-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="residentUSCIS" id="residentUSCIS1" value="0" disabled required>
                        <label class="form-check-label" for="residentUSCIS1">
                            Não
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="residentUSCIS" id="residentUSCIS2" value="1" checked required>
                        <label class="form-check-label" for="residentUSCIS2">
                            Sim
                        </label>
                    </div>
                </div>
            {{else}}
                <div class="p-2 w-50 d-flex flex-row gap-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="residentUSCIS" id="residentUSCIS1" value="0" checked required>
                        <label class="form-check-label" for="residentUSCIS1">
                            Não
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="residentUSCIS" id="residentUSCIS2" value="1" disabled required>
                        <label class="form-check-label" for="residentUSCIS2">
                            Sim
                        </label>
                    </div>
                </div>
            {{/if}}

            <label for="airplane" class="mt-3">Você está viajando para o Canadá de avião?</label>
            {{#if data.airplane}}
                <div class="p-2 w-50 d-flex flex-row gap-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="airplane" id="airplane1" value="0" disabled required>
                        <label class="form-check-label" for="airplane1">
                            Não
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="airplane" id="airplane2" value="1" checked required>
                        <label class="form-check-label" for="airplane2">
                            Sim
                        </label>
                    </div>
                </div>
            {{else}}
                <div class="p-2 w-50 d-flex flex-row gap-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="airplane" id="airplane1" value="0" checked required>
                        <label class="form-check-label" for="airplane1">
                            Não
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="airplane" id="airplane2" value="1" disabled required>
                        <label class="form-check-label" for="airplane2">
                            Sim
                        </label>
                    </div>
                </div>
            {{/if}}

            <label for="canadaVisa" class="mt-3">Nos últimos 10 anos, você possuiu um visto canadense de residente temporário válido?</label>
            {{#if data.canadaVisa}}
                <div class="p-2 w-50 d-flex flex-row gap-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="canadaVisa" id="canadaVisa1" value="0" disabled required>
                        <label class="form-check-label" for="canadaVisa1">
                            Não
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="canadaVisa" id="canadaVisa2" value="1" checked required>
                        <label class="form-check-label" for="canadaVisa2">
                            Sim
                        </label>
                    </div>
                </div>
            {{else}}
                <div class="p-2 w-50 d-flex flex-row gap-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="canadaVisa" id="canadaVisa1" value="0" checked required>
                        <label class="form-check-label" for="canadaVisa1">
                            Não
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="canadaVisa" id="canadaVisa2" value="1" disabled required>
                        <label class="form-check-label" for="canadaVisa2">
                            Sim
                        </label>
                    </div>
                </div>
            {{/if}}

            <label for="nonImmigrateVisa" class="mt-3">Você atualmente possui um visto válido de não-imigrante nos EUA?</label>
            {{#if data.canadaVisa}}
                <div class="p-2 w-50 d-flex flex-row gap-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="nonImmigrateVisa" id="nonImmigrateVisa1" value="0" disabled required>
                        <label class="form-check-label" for="nonImmigrateVisa1">
                            Não
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="nonImmigrateVisa" id="nonImmigrateVisa2" value="1" checked required>
                        <label class="form-check-label" for="nonImmigrateVisa2">
                            Sim
                        </label>
                    </div>
                </div>
            {{else}}
                <div class="p-2 w-50 d-flex flex-row gap-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="nonImmigrateVisa" id="nonImmigrateVisa1" value="0" checked required>
                        <label class="form-check-label" for="nonImmigrateVisa1">
                            Não
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="nonImmigrateVisa" id="nonImmigrateVisa2" value="1" disabled required>
                        <label class="form-check-label" for="nonImmigrateVisa2">
                            Sim
                        </label>
                    </div>
                </div>
            {{/if}}
            <hr>

            <h3 class="h4">Dados de Não-Imigrante</h3>
            <label class="mb-2" for="numVisaNonImmigrate">Número do visto de não imigrante nos EUA</label>
            <input type="text" class="form-control mb-3 w-50" name="numVisaNonImmigrate" id="numVisaNonImmigrate" value="{{data.numVisaNonImmigrate}}" maxlength="35" disabled required>
            
            <label class="mb-2" for="dateVisaNonImmigrate">Data de expiração do visto americano de não-imigrante</label>
            <input type="date" class="form-control mb-3 w-50" id="dateVisaNonImmigrate" name="dateVisaNonImmigrate" value="{{data.datetVisaNonImmigrate}}" disabled required>
            
            <hr>

            <h3 class="h4">Dados do passaporte do requerente</h3>
            <label class="mb-2" for="numPassport">Número do passaporte</label>
            <input type="text" class="form-control w-50 mb-3" name="numPassport" id="numPassport" value="{{data.numPassport}}" disabled required>

            <label class="mb-2" for="doiPassport">Data de emissão do passaporte</label>
            <input type="date" class="form-control mb-3 w-25" name="doiPassport" id="doiPassport" value="{{data.doiPassport}}" required>

            <label class="mb-2" for="doePassport">Data de expiração do passaporte</label>
            <input type="date" class="form-control mb-3 w-25" name="doePassport" id="doePassport" value="{{data.doePassport}}" required>

            <label class="mb-2" for="firstName">Nome</label>
            <input type="text" class="form-control w-50 mb-3" name="firstName" id="firstName" value="{{data.firstName}}" required>

            <label class="mb-2" for="surname">Sobrenome(s)</label>
            <input type="text" class="form-control w-50 mb-3" name="surname" id="surname" value="{{data.surname}}" required>

            <label class="mb-2" for="dateBirthday">Data de Nascimento</label>
            <input type="date" class="form-control mb-3 w-25" name="dateBirthday" id="dateBirthday" value="{{data.surname}}" required>

            <label class="mb-2" for="gender">Gênero <span class="text-red">* (obrigatório)</span></label>
            <select class="form-select w-50 mb-3" name="gender" id="gender" required>
                <option selected disabled>Selecione</option>
                <option value="female">Feminino</option>
                <option value="male">Masculino</option>
                <option value="other">Outro</option>
            </select>

            <label class="mb-2" for="countryBirth">País/território de nascimento <span class="text-red">* (obrigatório)</span></label>
            <select class="form-select w-50 mb-3" id="countryBirth" name="countryBirth" required>
                <option selected disabled>Selecione</option>
                <option value="0">Afghanistan</option>
                <option value="1">Albania</option>
                <option value="2">Algeria</option>
                <option value="3">Andorra</option>
                <option value="4">Angola</option>
                <option value="5">Anguilla</option>
                <option value="6">Antigua And Barbuda</option>
                <option value="7">Argentina</option>
                <option value="8">Armenia</option>
                <option value="9">Aruba</option>
                <option value="10">Australia</option>
                <option value="11">Austria</option>
                <option value="12">Azerbaijan</option>
                <option value="13">Azores</option>
                <option value="14">Bahamas</option>
                <option value="15">Bahrain</option>
                <option value="16">Bangladesh</option>
                <option value="17">Barbados</option>
                <option value="18">Belarus</option>
                <option value="19">Belgium</option>
                <option value="20">Belize</option>
                <option value="21">Benin</option>
                <option value="22">Bermuda</option>
                <option value="23">Bhutan</option>
                <option value="24">Bolivia</option>
                <option value="25">Bosnia and Herzegovina</option>
                <option value="26">Botswana</option>
                <option value="27">Brazil</option>
                <option value="28">British Virgin Islands</option>
                <option value="29">Brunei Darussalam</option>
                <option value="30">Bulgaria</option>
                <option value="31">Burkina Faso</option>
                <option value="32">Burma (Myanmar)</option>
                <option value="33">Burundi</option>
                <option value="34">Cabo Verde</option>
                <option value="35">Cambodia</option>
                <option value="36">Cameroon</option>
                <option value="37">Canada</option>
                <option value="38">Canary Islands</option>
                <option value="39">Cayman Islands</option>
                <option value="40">Central African Republic</option>
                <option value="41">Chad</option>
                <option value="42">Channel Islands</option>
                <option value="43">Chile</option>
                <option value="44">China</option>
                <option value="45">China (Hong Kong SAR)</option>
                <option value="46">China (Macao SAR)</option>
                <option value="47">Colombia</option>
                <option value="48">Comoros</option>
                <option value="49">Cook Islands</option>
                <option value="50">Costa Rica</option>
                <option value="51">Croatia</option>
                <option value="52">Cuba</option>
                <option value="53">Cyprus</option>
                <option value="54">Czech Republic</option>
                <option value="55">Czechoslovakia</option>
                <option value="56">Democratic Rep. of Congo</option>
                <option value="57">Denmark</option>
                <option value="58">Djibouti</option>
                <option value="59">Dominica</option>
                <option value="60">Dominican Republic</option>
                <option value="61">East Timor</option>
                <option value="62">Ecuador</option>
                <option value="63">Egypt</option>
                <option value="64">El Salvador</option>
                <option value="65">England</option>
                <option value="66">Equatorial Guinea</option>
                <option value="67">Eritrea</option>
                <option value="68">Estonia</option>
                <option value="69">Ethiopia</option>
                <option value="70">Falkland Islands</option>
                <option value="71">Federated States of Micronesia</option>
                <option value="72">Fiji</option>
                <option value="73">Finland</option>
                <option value="74">Fr. South. and Antarctic Lands</option>
                <option value="75">France</option>
                <option value="76">French Guiana</option>
                <option value="77">French Polynesia</option>
                <option value="78">Gabon</option>
                <option value="79">Gambia</option>
                <option value="80">Georgia</option>
                <option value="81">Germany, Federal Republic Of</option>
                <option value="82">Ghana</option>
                <option value="83">Gibraltar</option>
                <option value="84">Greece</option>
                <option value="85">Greenland</option>
                <option value="86">Grenada</option>
                <option value="87">Guadeloupe</option>
                <option value="88">Guam</option>
                <option value="89">Guatemala</option>
                <option value="90">Guinea</option>
                <option value="91">Guinea-Bissau</option>
                <option value="92">Guyana</option>
                <option value="93">Haiti</option>
                <option value="94">Honduras</option>
                <option value="95">Hong Kong</option>
                <option value="96">Hungary</option>
                <option value="97">Iceland</option>
                <option value="98">India</option>
                <option value="99">Indonesia</option>
                <option value="100">Iran</option>
                <option value="101">Iraq</option>
                <option value="102">Ireland</option>
                <option value="103">Israel</option>
                <option value="104">Italy</option>
                <option value="105">Ivory Coast</option>
                <option value="106">Jamaica</option>
                <option value="107">Japan</option>
                <option value="108">Jordan</option>
                <option value="109">Kazakhstan</option>
                <option value="110">Kenya</option>
                <option value="111">Kiribati</option>
                <option value="112">Korea, North (DPRK)</option>
                <option value="113">Korea, South</option>
                <option value="114">Kosovo</option>
                <option value="115">Kuwait</option>
                <option value="116">Kyrgyzstan</option>
                <option value="117">Laos</option>
                <option value="118">Latvia</option>
                <option value="119">Lebanon</option>
                <option value="120">Lesotho</option>
                <option value="121">Liberia</option>
                <option value="122">Libya</option>
                <option value="123">Liechtenstein</option>
                <option value="124">Lithuania</option>
                <option value="125">Luxembourg</option>
                <option value="126">Macao</option>
                <option value="127">Macedonia</option>
                <option value="128">Madagascar</option>
                <option value="129">Madeira</option>
                <option value="130">Malawi</option>
                <option value="131">Malaysia</option>
                <option value="132">Maldives</option>
                <option value="133">Mali</option>
                <option value="134">Malta</option>
                <option value="135">Marshall Islands</option>
                <option value="136">Martinique</option>
                <option value="137">Mauritania</option>
                <option value="138">Mauritius</option>
                <option value="139">Mayotte</option>
                <option value="140">Mexico</option>
                <option value="141">Moldova</option>
                <option value="142">Monaco</option>
                <option value="143">Mongolia</option>
                <option value="144">Montenegro</option>
                <option value="145">Montserrat</option>
                <option value="146">Morocco</option>
                <option value="147">Mozambique</option>
                <option value="148">Namibia</option>
                <option value="149">Nauru</option>
                <option value="150">Nepal</option>
                <option value="151">Netherlands Antilles, The</option>
                <option value="152">Netherlands, The</option>
                <option value="153">Nevis</option>
                <option value="154">New Caledonia</option>
                <option value="155">New Zealand</option>
                <option value="156">Nicaragua</option>
                <option value="157">Niger</option>
                <option value="158">Nigeria</option>
                <option value="159">Northern Ireland</option>
                <option value="160">Northern Mariana Islands</option>
                <option value="161">Norway</option>
                <option value="162">Oman</option>
                <option value="163">Pakistan</option>
                <option value="164">Palestinian Authority</option>
                <option value="165">Panama</option>
                <option value="166">Papua New Guinea</option>
                <option value="167">Paraguay</option>
                <option value="168">Peru</option>
                <option value="169">Philippines</option>
                <option value="170">Poland</option>
                <option value="171">Portugal</option>
                <option value="172">Puerto Rico</option>
                <option value="173">Qatar</option>
                <option value="174">Republic of Congo</option>
                <option value="175">Republic of Palau</option>
                <option value="176">Réunion</option>
                <option value="177">Romania</option>
                <option value="178">Russia</option>
                <option value="179">Rwanda</option>
                <option value="180">Saint Helena</option>
                <option value="181">Saint Kitts and Nevis</option>
                <option value="182">Saint Lucia</option>
                <option value="183">Saint Pierre and Miquelon</option>
                <option value="184">Saint-Martin</option>
                <option value="185">Samoa</option>
                <option value="186">Samoa, American</option>
                <option value="187">San Marino</option>
                <option value="188">Sao Tome and Principe</option>
                <option value="189">Saudi Arabia</option>
                <option value="190">Scotland</option>
                <option value="191">Senegal</option>
                <option value="192">Serbia And Montenegro</option>
                <option value="193">Serbia, Republic Of</option>
                <option value="194">Seychelles</option>
                <option value="195">Sierra Leone</option>
                <option value="196">Singapore</option>
                <option value="197">Slovakia</option>
                <option value="198">Slovenia</option>
                <option value="199">Solomon Islands</option>
                <option value="200">Somalia</option>
                <option value="201">South Africa, Republic Of</option>
                <option value="202">South Sudan</option>
                <option value="203">Spain</option>
                <option value="204">Sri Lanka</option>
                <option value="205">St. Vincent and the Grenadines</option>
                <option value="206">Sudan</option>
                <option value="207">Suriname</option>
                <option value="208">Swaziland</option>
                <option value="209">Sweden</option>
                <option value="210">Switzerland</option>
                <option value="211">Syria</option>
                <option value="212">Taiwan</option>
                <option value="213">Tajikistan</option>
                <option value="214">Tanzania</option>
                <option value="215">Thailand</option>
                <option value="216">Tibet (Autonomous Region)</option>
                <option value="217">Togo</option>
                <option value="218">Tonga</option>
                <option value="219">Trinidad and Tobago</option>
                <option value="220">Tunisia</option>
                <option value="221">Turkey</option>
                <option value="222">Turkmenistan</option>
                <option value="223">Turks and Caicos Islands</option>
                <option value="224">Tuvalu</option>
                <option value="225">Uganda</option>
                <option value="226">Ukraine</option>
                <option value="227">Union Of Soviet Socialist Rep</option>
                <option value="228">United Arab Emirates</option>
                <option value="229">United States of America</option>
                <option value="230">Uruguay</option>
                <option value="231">Uzbekistan</option>
                <option value="232">Vanuatu</option>
                <option value="233">Vatican City State</option>
                <option value="234">Venezuela</option>
                <option value="235">Vietnam</option>
                <option value="236">Virgin Islands, U.S.</option>
                <option value="237">Wales</option>
                <option value="238">Wallis and Futuna Is., Terr. </option>
                <option value="239">Western Sahara</option>
                <option value="240">Yemen</option>
                <option value="241">Yugoslavia</option>
                <option value="242">Zambia</option>
                <option value="243">Zimbabwe</option>
            </select>
            
            <label class="mb-2" for="cityBirth">Cidade/município de nascimento</label>
            <input type="text" name="cityBirth" id="cityBirth" class="form-control w-50 mb-3" value="cityBirth" required>
            
            <hr>

            <h3 class="h4">Dados pessoais do requerente</h3>
            <label class="mb-2" for="maritalStatus">Estado civil</label>
            <select class="form-select w-50 mb-3" name="maritalStatus" id="maritalStatus" required>
                <option value="0">Casado</option>
                <option value="2">Divorciado</option>
                <option value="3">Casamento anulado</option>
                <option value="4">Viúvo (a)</option>
                <option value="5">União Estável</option>
                <option value="6">Nunca casou / Solteiro</option>
            </select>

            <label class="mb-2" for="appliedToCanada">Você já solicitou ou obteve um visto, um eTA ou uma permissão para visitar, morar, trabalhar ou estudar no Canadá? <span class="text-red">* (obrigatório)</span></label>
            {{#if data.appliedToCanada}}
                <div class="p-2 w-50 d-flex flex-row gap-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="appliedToCanada" id="appliedToCanada1" value="0" disabled required>
                        <label class="form-check-label" for="appliedToCanada1">
                            Não
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="appliedToCanada" id="appliedToCanada2"  value="1" checked required>
                        <label class="form-check-label" for="appliedToCanada2">
                            Sim
                        </label>
                    </div>
                </div>
            {{else}}
                <div class="p-2 w-50 d-flex flex-row gap-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="appliedToCanada" id="appliedToCanada1" value="0" checked required>
                        <label class="form-check-label" for="appliedToCanada1">
                            Não
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="appliedToCanada" id="appliedToCanada2"  value="1" disabled required>
                        <label class="form-check-label" for="appliedToCanada2">
                            Sim
                        </label>
                    </div>
                </div>
            {{/if}}

            <label class="mb-2" for="personalUCI">Identificador exclusivo do cliente (UCI) / visto canadense anterior, eTA ou número de permissão</label>
            <input type="text" class="form-control mb-3 w-50" id="personalUCI" name="personalUCI" value="{{data.personalUCI}}">
            
            <hr>

            <h3 class="h4">Informações de emprego</h3>

            <label class="mb-2" for="occupation">Profissão</label>
            <select class="form-select w-50 mb-3" name="occupation" id="occupation" required>
                <option value="1">Ocupações artísticas, culturais, recreativas e desportivas</option>
                <option value="2">Ocupações de negócios, finanças e administração</option>
                <option value="3">Educação, direito e ocupações de serviços sociais, comunitários e governamentais</option>
                <option value="4">Ocupações de saúde</option>
                <option value="5">Dona de casa</option>
                <option value="6">Ocupações de gestão</option>
                <option value="7">Ocupações de manufatura e serviços públicos</option>
                <option value="8">Forças militares/armadas</option>
                <option value="9">Ciências naturais e aplicadas e ocupações relacionadas</option>
                <option value="10">Recursos naturais, agricultura e ocupações de produção relacionadas</option>
                <option value="11">Aposentado</option>
                <option value="12">Ocupações de vendas e serviços</option>
                <option value="13">Estudante</option>
                <option value="14">Operadores de comércio, transporte e equipamentos e ocupações relacionadas</option>
                <option value="15">Desempregado</option>
            </select>

            <label for="employmentCompanyName">Nome do empregador ou escola, conforme o caso.</label>
            <input type="text" class="form-control mb-3 w-50" id="employmentCompanyName" name="employmentCompanyName" value="{{data.employmentCompanyName}}" required>

            <label for="employmentTitle" class="mb-2">Cargo</label>
            <select class="form-select mb-3 w-50" id="employmentTitle" name="employmentTitle">
                <option value="0">Locutores e outros artistas</option>
                <option value="1">Atletas, treinadores, árbitros e ocupações relacionadas</option>
                <option value="2">Artistas criativos e performáticos</option>
                <option value="3">Designers criativos e artesãos</option>
                <option value="4">Bibliotecário, arquivista, conservador ou curador</option>
                <option value="5">Fotógrafos, técnicos de artes gráficas, ocupações técnicas e de coordenação em imagens em movimento, radiodifusão e artes cênicas</option>
                <option value="6">Ocupações técnicas em bibliotecas, arquivos públicos, museus e galerias de arte</option>
                <option value="7">Profissionais de redação, tradução e comunicação relacionados</option>
                
            </select>

            <label class="mb-2" for="employmentCountry">País/território</label>
            {{data.employmentTitle}}
            
            {{data.employmentCountry}}
            {{data.employmentCity}}
            {{data.employmentFromDateYear}}
            <hr>

            <h3 class="h4">Informações de contato</h3>

            <hr>

            <h3 class="h4">Endereço residencial</h3>
    
            <hr>

            <h3 class="h4">Informação de viagem</h3>
            {{data.travelWhen}}
            {{data.travelDay}}
            {{data.travelMonth}}
            {{data.travelYear}}
            {{data.travelTimeHour}}
            {{data.travelTimeMinute}}
            {{data.travelTimeZone}}
            <hr>

            <h3 class="h4">Perguntas básicas</h3>
            {{data.refusedVisaToCanda}}
            {{data.refusedVisaToCandaDetails}}
            {{data.criminalOffenceAnywhere}}
            {{data.criminalOffenceAnywhereDetails}}
            {{data.tuberculosis}}
            {{data.tuberculosisResultCareWorker}}
            {{data.diagnosedWithTuberculosis}}
            {{data.theseConditions}}

            <h3 class="mt-4">Consentimento e declaração</h3>

            <p>As informações fornecidas ao IRCC são coletadas sob a autoridade da Lei de Proteção à Imigração e Refugiados (IRPA) para determinar a admissibilidade no Canadá. As informações fornecidas podem ser compartilhadas com outras instituições do governo canadense, como, entre outras, a Agência de Serviços de Fronteiras do Canadá (CBSA), a Polícia Montada Real do Canadá (RCMP), o Serviço de Inteligência de Segurança do Canadá (CSIS), o Departamento de Relações Exteriores , Comércio e Desenvolvimento (DFATD), Emprego e Desenvolvimento Social do Canadá (ESDC), Agência de Receita do Canadá (CRA), governos provinciais e territoriais e governos estrangeiros de acordo com a subseção 8(2) da Lei de Privacidade. As informações podem ser divulgadas ou validadas com governos estrangeiros, órgãos de aplicação da lei e autoridades de detenção no que diz respeito à administração e aplicação da legislação de imigração, onde tal compartilhamento de informações não pode colocar o indivíduo e/ou sua família em risco. As informações também podem ser sistematicamente validadas por outras instituições do governo canadense para fins de validação de status e identidade para administrar seus programas.</p>
            <p>Quando a biometria for fornecida como parte de um aplicativo, as impressões digitais coletadas serão armazenadas e compartilhadas com o RCMP. O registro da impressão digital também pode ser divulgado às agências de aplicação da lei no Canadá, de acordo com a subseção 13.11(1) dos Regulamentos de Imigração e Proteção aos Refugiados. As informações podem ser usadas para estabelecer ou verificar a identidade de uma pessoa a fim de prevenir, investigar ou processar um delito sob qualquer lei do Canadá ou de uma província. Essas informações também podem ser usadas para estabelecer ou verificar a identidade de um indivíduo cuja identidade não pode ser razoavelmente estabelecida ou verificada por causa de sua condição física ou mental. O Canadá também pode compartilhar informações de imigração relacionadas a registros biométricos com governos estrangeiros com os quais o Canadá tenha um acordo ou acordo.</p>
            <p>Dependendo do tipo de solicitação feita, as informações fornecidas serão armazenadas em um ou mais bancos de informações pessoais (PIB) de acordo com a seção 10(1) da Lei de Privacidade do Canadá. Os indivíduos também têm direito à proteção e acesso às suas informações pessoais armazenadas em cada PIB correspondente de acordo com a Lei de Acesso à Informação. Mais detalhes sobre os PIBs pertencentes à linha de negócios e serviços do IRCC e o acesso do Governo do Canadá a programas de informação e privacidade estão disponíveis no <a href="https://www.tbs-sct.gc.ca/hgw-cgf/oversight-surveillance/atip-aiprp/ai/iapih-rpfr-eng.asp" target="_blank">site da Infosource</a> e por meio do Call Center do IRCC. Info Source também está disponível em bibliotecas públicas em todo o Canadá.</p>
            <h4>Declaração do Requerente</h4>
            <p>Li e compreendi a declaração acima.</p>
            <p>Declaro que as informações por mim prestadas neste requerimento são verdadeiras, completas e corretas.</p>
            <p>Entendo que a declaração falsa é uma ofensa sob a seção 127 da <em>Lei de Proteção à Imigração e Refugiados</em> e pode resultar em inadmissibilidade para o Canadá ou remoção do Canadá.</p>
            <p>Concordo que, ao digitar meu nome e clicar em assinar, assino eletronicamente minha inscrição.</p>
            
            <h4 class="mt-4">Concordo <span class="text-red">* (obrigatório)</span></h4>
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="OK" name="agreeCheck" id="flexCheckDefault" required>
                <label class="form-check-label" for="flexCheckDefault">
                    Concordo
                </label>
            </div>

            <label for="consentAndDeclaration">Assinatura do requerente <span class="text-red">* (obrigatório)</span></label>
            <p>Para assinar, digite seu nome como aparece no seu passaporte.</p> 
            <input type="text" class="form-control mb-3 w-50" id="consentAndDeclaration"  name="consentAndDeclaration" required>

            <input class="btn btn-success mt-5" id="envForm" type="submit" value="Próximo">
        </form>
    </section>
    {{!-- MODAIS--}}
    <section></section>
</main>
<script>
  window.onload = function() {
    document.getElementById("representativeRelationship").value = "{{data.representativeRelationship}}"
    document.getElementById("gender").value = "{{data.gender}}"
    document.getElementById("countryBirth").value = "{{data.countryBirth}}"
    document.getElementById("maritalStatus").value = "{{data.maritalStatus}}"
    document.getElementById("occupation").value = "{{data.occupation}}"

  }
</script>


