<style>
    label {
        font-weight: bold;
    }
    .text-red {
        color: #FF0000
    }
</style>
<main class="my-4" style="flex: 1 1 0">
    <section class="container">
        <h1>Solicitação de Autorização Eletrônica de Viagem (eTA)</h1>
        <hr>
        {{#each errors}}
            <div class="alert alert-danger">{{text}}</div>
        {{else}}
        {{/each}}
        <h2>Acompanhe o progresso da sua aplicação de visto</h2>
        <div class="progress mt-3 mb-5">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                <p class="m-0 p-0">1. Representante ou titular?</p>
            </div>
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                <p class="m-0 p-0">2. Validação</p>
            </div>
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                <p class="m-0 p-0">3. Documentos</p>
            </div>
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                <p class="m-0 p-0">4. Pagamento</p>
            </div>
        </div>
        <h2>Confira seus dados</h2>
        
        <form action="/aplicacaoStep4" method="POST">
            {{#if data.representative}}
                <h3 class="h4">Dados do representante</h3>
                <label class="mb-2" for="representative">Você é responsável ou representante que apresenta a solicitação de eTA em nome de outra pessoa?</label>
                <div class="p-2 w-50 d-flex flex-row gap-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="representative" id="representative1" value="0" required>
                        <label class="form-check-label" for="representative1">
                            Não
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="representative" id="representative2"value="1" checked required>
                        <label class="form-check-label" for="representative2">
                            Sim
                        </label>
                    </div>
                </div>
                <label for="relationship">Eu sou</label>
                <select class="form-select w-50 mb-3" name="relationship" id="relationship" required>
                    <option value="parent-friend">Parente ou amigo</option>
                    <option value="org-rel">Membro de uma organização não governamental ou religiosa</option>
                    <option value="iccrc">Membro do Conselho Regulatório de Consultores de Imigração (ICCRC)</option>
                    <option value="juridico-territorial">Uma sociedade jurídica provincial ou territorial do Canadá</option>
                    <option value="notarios">A Câmara de Notários do Quebec</option>
                    <option value="agent">Agente de viagens</option>
                </select>
                <label for="payed">Você está sendo pago para representar o requerente e preencher o formulário em seu nome?</label>
                {{#if data.payed}}
                    <div class="p-2 w-50 d-flex flex-row gap-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="payed" id="payed1" value="0" required>
                            <label class="form-check-label" for="payed1">
                                Não
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="payed" id="payed2"value="1" checked required>
                            <label class="form-check-label" for="payed2">
                                Sim
                            </label>
                        </div>
                    </div>
                {{else}}
                    <div class="p-2 w-50 d-flex flex-row gap-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="payed" id="payed1" value="0" checked required>
                            <label class="form-check-label" for="payed1">
                                Não
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="payed" id="payed2"value="1" required>
                            <label class="form-check-label" for="payed2">
                                Sim
                            </label>
                        </div>
                    </div>
                {{/if}}
                 <label for="representativeName">Nome:</label>
                <input class="form-control mb-3 w-50" type="text" name="name" id="name" value="{{data.representativeName}}" required>

                <label for="representativeSurname">Sobrenome(s):</label>
                <input class="form-control mb-3 w-50" type="text" name="surname" id="surname" value="{{data.representativeSurname}}" required>

                <label for="representativeOrgName">Nome da empresa:</label>
                <input class="form-control mb-3" type="text" name="orgname" id="orgname" value="{{data.representativeOrgName}}" required>

                <label for="representativeAddress">Endereço:</label>
                <input class="form-control mb-3 w-50" type="text" name="address" id="address" value="{{data.representativeOrgName}}" required>

                <label for="representativeEmail">E-mail:</label>
                <input class="form-control mb-3 w-50" type="email" name="email" id="email" value="{{data.representativeEmail}}" required>

                <label for="representativeNumTel">Número de telefone:</label>
                <input class="form-control mb-3 w-50" type="text" name="numTel" id="numTel" value="{{data.representativeNumTel}}" required>

                <label for="representativeNumIDmebro">Número de identificação de membro:</label>
                <input class="form-control mb-3" type="text" name="numIDmebro" id="numIDmebro" value="{{representativeNumIDmebro}}" required>

                <label for="representativeProvOrTer">Província ou território:</label>
                <input class="form-control mb-3" type="text" name="provOuTer" id="provOuTer" value="{{data.representativeProvOrTer}}" required>

                <label for="representativeCodpostal">Código postal:</label>
                <input class="form-control mb-3" type="text" name="codpostal" id="codpostal" value="{{data.representativeCodpostal}}" required>

                <hr>
            {{/if}}
            {{data.document}}
            {{data.passportBrazil}}
            {{data.USCIS}}
            {{data.airplane}}
            {{data.canadaVisa}}
            {{data.numVisaNonImmigrate}}
            {{data.dayVisaNonImmigrate}}
            {{data.monthVisaNonImmigrate}}
            {{data.yearVisaNonImmigrate}}
            {{data.numPassport}}
            {{data.doiDay}}
            {{data.doiMonth}}
            {{data.doiYear}}
            {{data.doeDay}}
            {{data.doeMonth}}
            {{data.doeYear}}
            {{data.firstName}}
            {{data.surname}}
            {{data.dobDay}}
            {{data.dobMonth}}
            {{data.dobYear}}
            {{data.gender}}
            {{data.countryBirth}}
            {{data.cityBirth}}
            {{data.maritalStatus}}
            {{data.appliedToCanada}}
            {{data.personalUCI}}
            {{data.occupation}}
            {{data.employmentTitle}}
            {{data.employmentCompanyName}}
            {{data.employmentCountry}}
            {{data.employmentCity}}
            {{data.employmentFromDateYear}}
            {{data.travelWhen}}
            {{data.travelDay}}
            {{data.travelMonth}}
            {{data.travelYear}}
            {{data.travelTimeHour}}
            {{data.travelTimeMinute}}
            {{data.travelTimeZone}}
            {{data.refusedVisaToCanda}}
            {{data.refusedVisaToCandaDetails}}
            {{data.criminalOffenceAnywhere}}
            {{data.criminalOffenceAnywhereDetails}}
            {{data.tuberculosis}}
            {{data.tuberculosisResultCareWorker}}
            {{data.diagnosedWithTuberculosis}}
            {{data.theseConditions}}
            {{data.canadaDuringStayDetails}}
            {{data.agreeCheck}}
            {{data.consentAndDeclaration}}
            <input type="text" class="form-control mb-3 w-50" name="title" value="Solicitação Eletrônica de Viagem">
            <input type="number" class="form-control mb-3 w-50" name="price" value="99">
            <input type="number" class="form-control mb-3 w-50" name="quantity" value="1">
            <input class="btn btn-success mt-5" id="envForm" type="submit" value="Próximo">
        </form>
    </section>
    {{!-- MODAIS--}}
    <section></section>
</main>
<script>
  window.onload = function() {
    document.getElementById("relationship").value = "{{data.relationship}}"
  }
</script>


