<link rel="stylesheet" href="/css/checkout.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<main>
    <div class="container container__payment">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/img/appmax.webp" alt="" width="auto" height="57">
            <h1>Checkout</h1>
            <p class="lead">
                Esta página está protegida por todas as etapas de segurança da AppMax.
            </p>
        </div>

        <div class="row g-5">
            <div class="col-md-6 col-lg-5 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Sua compra</span>
                </h4>
                <ul class="list-group mb-3">
                    {{#each visasData}}
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                            <div>
                                <h6 class="my-0">Solicitação de Autorização de Viagem</h6>
                                <small class="text-muted">{{codeETA}} - {{firstName}} {{surname}}</small>
                            </div>
                            <span class="text-muted totalAmount1"></span>
                        </li>
                    {{/each}}
                    {{!-- ELEMENTO PARA EXIBIÇÃO DO DESCONTO DE CÓDIGO PROMOCIONAL --}}
                    {{!-- <li class="list-group-item d-flex justify-content-between bg-light">
                        <div class="text-success">
                        <h6 class="my-0">Promo code</h6>
                        <small>EXAMPLECODE</small>
                        </div>
                        <span class="text-success">−$5</span>
                    </li> --}}
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (R$)</span>
                        <strong id="totalAmount2"></strong>
                    </li>
                </ul>

                {{!-- INPUT VALIDAÇÃO DE CÓDIGO PROMOCIONAL --}}
                {{!-- <form class="card p-2">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Promo code">
                    <button type="submit" class="btn btn-secondary">Redeem</button>
                </div>
                </form> --}}
            </div>
            <div class="col-md-6 col-lg-7">
                <h4 class="mb-3">Métodos de pagamento</h4>

                <div class="accordion w-md-75 m-auto" id="accordionExample">
                    <!-- PAGAMENTO COM CARTÃO DE CRÉDITO -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="fs-3 accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Cartão de crédito
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <form action="/checkout/process-payment" method="POST">
                                    <label class="mb-2" for="cardholderName">Nome completo</label>
                                    <input type="text" name="cardholderName" id="cardholderName" class="form-control mb-3" required>

                                    <div class="row mb-3">
                                        <div class="col-4 col-md-3">
                                            <select id="identificationType" name="identificationType" type="text" class="form-select" required>
                                                <option value="CPF">CPF</option>
                                                <option value="CNPJ">CNPJ</option>
                                            </select>
                                        </div>
                                        <div class="col-8 col-md-9">
                                            <input id="identificationNumber" name="identificationNumber" type="text" class="form-control" placeholder="Número do documento" required>
                                        </div>
                                    </div>

                                    <label class="mb-2" for="cardNumber">Número do cartão</label>
                                    <input type="text" name="cardNumber" id="cardNumber" class="form-control mb-3" maxlength="16" placeholder="0000 0000 0000 0000" required>

                                    <div class="row">
                                        <div class="col">
                                            <label class="mb-2">Validade</label>
                                            <div class="row g-0">
                                                <div class="col">
                                                    <select name="expirationMonth" id="expirationMonth" class="form-select mb-2" required>
                                                        <option value="0" selected disabled>MM</option>
                                                        <option value="1">01</option>
                                                        <option value="2">02</option>
                                                        <option value="3">03</option>
                                                        <option value="4">04</option>
                                                        <option value="5">05</option>
                                                        <option value="6">06</option>
                                                        <option value="7">07</option>
                                                        <option value="8">08</option>
                                                        <option value="9">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <select name="expirationYear" id="expirationYear" class="form-select mb-3" required>
                                                        <option value="0" selected disabled>AA</option>
                                                        <option value="24">2024</option>
                                                        <option value="25">2025</option>
                                                        <option value="26">2026</option>
                                                        <option value="27">2027</option>
                                                        <option value="28">2028</option>
                                                        <option value="29">2029</option>
                                                        <option value="30">2030</option>
                                                        <option value="31">2031</option>
                                                        <option value="32">2032</option>
                                                        <option value="33">2033</option>
                                                        <option value="34">2034</option>
                                                        <option value="35">2035</option>
                                                        <option value="36">2036</option>
                                                        <option value="37">2037</option>
                                                        <option value="38">2038</option>
                                                        <option value="39">2039</option>
                                                        <option value="40">2040</option>
                                                        <option value="41">2041</option>
                                                        <option value="42">2042</option>
                                                        <option value="43">2043</option>
                                                        <option value="44">2044</option>
                                                        <option value="45">2045</option>
                                                        <option value="46">2046</option>
                                                        <option value="47">2047</option>
                                                        <option value="48">2048</option>
                                                        <option value="49">2049</option>
                                                        <option value="50">2050</option>
                                                        <option value="51">2051</option>
                                                        <option value="52">2052</option>
                                                        <option value="53">2053</option>
                                                        <option value="54">2054</option>
                                                        <option value="55">2055</option>
                                                        <option value="56">2056</option>
                                                        <option value="57">2057</option>
                                                        <option value="58">2058</option>
                                                        <option value="59">2059</option>
                                                        <option value="60">2060</option>
                                                        <option value="61">2061</option>
                                                        <option value="62">2062</option>
                                                        <option value="63">2063</option>
                                                        <option value="64">2064</option>
                                                        <option value="65">2065</option>
                                                        <option value="66">2066</option>
                                                        <option value="67">2067</option>
                                                        <option value="68">2068</option>
                                                        <option value="69">2069</option>
                                                        <option value="70">2070</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label class="mb-2" for="securityCode">Código de segurança</label>
                                            <input name="securityCode" id="securityCode" class="form-control mb-3" maxlength="4" placeholder="123" required>
                                        </div>
                                    </div>

                                    <select name="installments" id="installments" class="form-select mb-3" required>
                                        {{#each installments}}
                                            <option value="{{this}}">{{this}}</option>
                                        {{/each}}
                                    </select>
                                    <button type="submit" class="btn btn-primary">Pagar com cartão</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- PAGAMENTO COM PIX -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="fs-3 accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Pix QR Code
                                <span class="btn btn-success px-1 py-1 mx-3 fw-bold">5% OFF</span>
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body container__payment">                      
                                <form action="/checkout/process-payment-pix" method="POST">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <input id="form-checkout-pix__payerFirstName" name="payerFirstName" type="text" class="form-control mb-3" placeholder="Nome" required>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <input id="form-checkout-pix__payerLastName" name="payerLastName" type="text" class="form-control mb-3" placeholder="Sobrenome" required>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-4 col-md-3">
                                            <select id="form-checkout-pix__identificationType" name="identificationType" type="text" class="form-select" required>
                                                <option value="CPF">CPF</option>
                                                <option value="CNPJ">CNPJ</option>
                                            </select>
                                        </div>
                                        <div class="col-8 col-md-9">
                                            <input id="form-checkout-pix__identificationNumber" name="identificationNumber" type="text" class="form-control" placeholder="Número do documento" required>
                                        </div>
                                    </div>
                                    <input id="form-checkout-pix__payerEmail" name="email" type="text" class="form-control mb-3" placeholder="E-mail" value="{{sessionData.contactEmail}}" required>
                                    <button type="submit" id="submit-checkout-pix" class="btn btn-primary">Pagar com PIX</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="exitModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Espere!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Você tem certeza de que deseja cancelar sua aplicação e perder a oportunidade de ter a nossa ajuda para emitir o seu eTA, vencendo a burocracia e tendo muito mais agilidade?</p>

                    <p>Todos os dias nós identificamos erros de preenchimento de nossos clientes, que iriam complicar a emissão do eTA. Nós te ajudamos com isso.</p>

                    <p>Além disso, 99% dos nossos clientes têm seu eTA aprovado em poucas horas.</p>

                    <p>O valor de apenas R$ 147,00 já inclui a taxa do governo canadense e o valor da nossa prestação de serviços para assessoria individual na aplicação do seu eTA.</p>

                    <p>Para confirmar o seu interesse no eTA, clique no botão abaixo para retornar ao checkout.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    //Exit intent
    let mouseout = 1
    function showExitModal() {
        $('#exitModal').modal('show')
    }
    document.addEventListener('mouseout', (e) => {
        // Verifica se o cursor está fora da janela
        if (e.relatedTarget === null) {
            if (mouseout) {
                // O cursor está fora da janela, então mostra o modal
                showExitModal()
                mouseout--
            }
        }
    })

    //Atualizar valor em tela
    const qtyVisas = "{{qtyVisas}}"
    const total = parseInt(qtyVisas) * 147
    $('.totalAmount1').text('R$ 147,00')
    $('#totalAmount2').text(`${total.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 })}`)
    $(document).ready(function() {
        $('#collapseTwo').on('show.bs.collapse', function() {
            // Atualize o conteúdo do strong
            $('.totalAmount1').text('R$ 139,65')

            const qtyVisas = "{{qtyVisas}}"
            const total = parseInt(qtyVisas) * 139.65
            $('#totalAmount2').text(`${total.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 })}`)
        })

        $('#collapseTwo').on('hide.bs.collapse', function() {
            // Restaure o valor original se necessário
            $('.totalAmount1').text('R$ 147,00')

            const qtyVisas = "{{qtyVisas}}"
            const total = parseInt(qtyVisas) * 147
            $('#totalAmount2').text(`${total.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 })}`)
        })
    })
</script>