<link rel="stylesheet" href="/css/checkout.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://sdk.mercadopago.com/js/v2"></script>
<script src="https://www.mercadopago.com/v2/security.js" view="checkout"></script>
<main>
    <div class="container container__payment">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/img/mercadopago-logo.webp" alt="" width="auto" height="57">
            <h1>Checkout</h1>
            <p class="lead">
                Está página está protegida por todas as etapas de segurança do Mercado Pago
            </p>
        </div>

        <div class="row g-5">
            <div class="col-md-6 col-lg-5 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Sua compra</span>
                </h4>
                <ul class="list-group mb-3">
                    {{#each visasData}}
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                            <div>
                                <h6 class="my-0">Solicitação de Autorização de Viagem</h6>
                                <small class="text-muted">{{codeETA}} - {{firstName}} {{surname}}</small>
                            </div>
                            <span class="text-muted totalAmount1"></span>
                        </li>
                    {{/each}}
                    {{!-- ELEMENTO PARA EXIBIÇÃO DO DESCONTO DE CÓDIGO PROMOCIONAL --}}
                    {{!-- <li class="list-group-item d-flex justify-content-between bg-light">
                        <div class="text-success">
                        <h6 class="my-0">Promo code</h6>
                        <small>EXAMPLECODE</small>
                        </div>
                        <span class="text-success">−$5</span>
                    </li> --}}
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (R$)</span>
                        <strong id="totalAmount2"></strong>
                    </li>
                </ul>

                <a href="/aplicacao?again=true" class="btn btn-success fw-bold text-uppercase">Adicionar mais uma solicitação <i class="bi bi-plus-circle ms-2"></i></a>

                {{!-- INPUT VALIDAÇÃO DE CÓDIGO PROMOCIONAL --}}
                {{!-- <form class="card p-2">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Promo code">
                    <button type="submit" class="btn btn-secondary">Redeem</button>
                </div>
                </form> --}}
            </div>
            <div class="col-md-6 col-lg-7">
                <h4 class="mb-3">Métodos de pagamento</h4>

                <div class="accordion w-md-75 m-auto" id="accordionExample">
                    <!-- PAGAMENTO COM CARTÃO DE CRÉDITO -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="fs-3 accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Cartão de crédito
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <form id="form-checkout">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div id="form-checkout__cardNumber" class="form-control mb-3" style="height: 2.3rem"></div>
                                            <div class="row">
                                                <div class="col">
                                                    <div id="form-checkout__securityCode" class="form-control mb-3" style="height: 2.3rem"></div>
                                                    <select id="form-checkout__issuer" class="form-select mb-3"></select>
                                                </div>
                                                <div class="col">
                                                    <div id="form-checkout__expirationDate" class="form-control mb-3" style="height: 2.3rem"></div>
                                                    <select id="form-checkout__installments" class="form-select mb-3"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <input type="text" id="form-checkout__cardholderName" class="form-control mb-3">
                                            <div class="row">
                                                <div class="col-4">
                                                    <select id="form-checkout__identificationType" class="form-select mb-3"></select>
                                                </div>
                                                <div class="col-8">
                                                    <input type="text" id="form-checkout__identificationNumber" class="form-control mb-3">
                                                </div>
                                            </div>
                                            <input type="email" id="form-checkout__cardholderEmail" value="{{data.contactEmail}}" class="form-control mb-3">
                                            <input type="text" id="form-checkout__deviceId" class="form-control mb-3 d-none">
                                        </div>
                                    </div>
                                    <button type="submit" id="form-checkout__submit" class="btn btn-primary">Pagar com cartão</button>
                                    <p id="loading-message" style="display: none">Efetuando pagamento, aguarde...</p>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- PAGAMENTO COM PIX -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="fs-3 accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Pix QR Code
                                <span class="btn btn-success px-1 py-1 mx-3 fw-bold">5% OFF</span>
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body container__payment">                      
                                <form id="form-checkout-pix">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <input id="form-checkout-pix__payerFirstName" name="payerFirstName" type="text" class="form-control mb-3" placeholder="Nome">
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <input id="form-checkout-pix__payerLastName" name="payerLastName" type="text" class="form-control mb-3" placeholder="Sobrenome">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-4 col-md-3">
                                            <select id="form-checkout-pix__identificationType" name="identificationType" type="text" class="form-select">
                                                <option value="CPF">CPF</option>
                                                <option value="CNPJ">CNPJ</option>
                                            </select>
                                        </div>
                                        <div class="col-8 col-md-9">
                                            <input id="form-checkout-pix__identificationNumber" name="identificationNumber" type="text" class="form-control" placeholder="Número do documento">
                                        </div>
                                    </div>
                                    <input id="form-checkout-pix__payerEmail" name="email" type="text" class="form-control mb-3" placeholder="E-mail" value="{{data.contactEmail}}">
                                    <button type="submit" id="submit-checkout-pix" class="btn btn-primary">Pagar com PIX</button>
                                </form>
                                <p id="loading-message-pix" style="display: none">Efetuando pagamento, aguarde...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container container__result">
        <div class="card">
            <div class="card-header block-heading">
                <h2 class="m-0 p-0">Resultado de pagamento</h2>
            </div>
            <div class="card-body content">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="items product info product-details">
                            <div class="row justify-content-center">
                                <div class="col-md-8 product-detail">
                                    <div class="product-info py-3">
                                        <div id="fail-response">
                                            <p class="text-center font-weight-bold">Algo de errado aconteceu. Se seu pagamento foi efetuado, entre em contato com o suporte.</p>
                                            <p id="error-message" class="text-center"></p>
                                        </div>

                                        <div id="success-response">
                                            <div id="payment-main-status" class="mb-4 d-flex justify-content-center"></div>
                                            <h3 class="fw-normal mb-3"><b>Status: </b><span id="payment-status"></span></h3>
                                            <p><b>ID: </b><span id="payment-id"></span></p>
                                            <p><b>Detail: </b><span id="payment-detail"></span></p>
                                            <div id="pix-code-section" class="container text-center my-4">
                                                <p>Escaneie o QR Code com seu aplicativo bancário para seguir com o pagamento:</p>
                                                <img src="" id="qr-code-image" width="250px">
                                                <p class="m-3">Ou você pode copiar e colar o código também:</p>
                                                <div class="input-group mb-3" id="btnCopy" style="cursor: pointer">
                                                    <span class="input-group-text btn btn-primary d-flex justify-content-center align-items-center" id="basic-addon1">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V2Zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H6ZM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1H2Z"/>
                                                        </svg>
                                                    </span>
                                                    <input type="text" id="pix-code" class="form-control form-control-plaintext ps-2" readonly aria-label="pix-code" aria-describedby="basic-addon1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="exitModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Espere!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Você tem certeza de que deseja cancelar sua aplicação e perder a oportunidade de ter a nossa ajuda para emitir o seu eTA, vencendo a burocracia e tendo muito mais agilidade?</p>

                    <p>Todos os dias nós identificamos erros de preenchimento de nossos clientes, que iriam complicar a emissão do eTA. Nós te ajudamos com isso.</p>

                    <p>Além disso, 99% dos nossos clientes têm seu eTA aprovado em poucas horas.</p>

                    <p>O valor de apenas R$ 147,00 já inclui a taxa do governo canadense e o valor da nossa prestação de serviços para assessoria individual na aplicação do seu eTA.</p>

                    <p>Para confirmar o seu interesse no eTA, clique no botão abaixo para retornar ao checkout.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</main>

{{!-- Script para Cartão de Crédito --}}
<script defer>
    const mercadopago = new MercadoPago('{{publicKey}}')
    setTimeout(() => {
        const deviceId = window.MP_DEVICE_SESSION_ID
        const formDeviceId = document.getElementById('form-checkout__deviceId')
        formDeviceId.value = deviceId
    }, 5000)

    function loadCardForm(){
        const payButton = document.getElementById("form-checkout__submit")
        const validationErrorMessages= document.getElementById('validation-error-messages')

        const cardForm = mercadopago.cardForm({
            amount: "147.0",
            iframe: true,
            form: {
                id: "form-checkout",
                cardNumber: {
                    id: "form-checkout__cardNumber",
                    placeholder: "Número do cartão",
                },
                expirationDate: {
                    id: "form-checkout__expirationDate",
                    placeholder: "MM/YY",
                },
                securityCode: {
                    id: "form-checkout__securityCode",
                    placeholder: "Código de segurança",
                },
                cardholderName: {
                    id: "form-checkout__cardholderName",
                    placeholder: "Titular do cartão",
                },
                issuer: {
                    id: "form-checkout__issuer",
                    placeholder: "Bandeira",
                },
                installments: {
                    id: "form-checkout__installments",
                    placeholder: "Parcelas",
                },        
                identificationType: {
                    id: "form-checkout__identificationType",
                    placeholder: "Tipo de documento",
                },
                identificationNumber: {
                    id: "form-checkout__identificationNumber",
                    placeholder: "Número do documento",
                },
                cardholderEmail: {
                    id: "form-checkout__cardholderEmail",
                    placeholder: "E-mail",
                },
                deviceId: {
                    id: "form-checkout__deviceId",
                    placeholder: "Device ID"
                }

            },
            callbacks: {
                onFormMounted: (error) => {
                    if (error) return console.warn("Form Mounted handling error: ", error)
                    console.log("Form mounted")
                },
                onSubmit: (event) => {
                    event.preventDefault()
                    document.getElementById("loading-message").style.display = "block"

                    const {
                        paymentMethodId,
                        issuerId,
                        cardholderEmail: email,
                        amount,
                        token,
                        installments,
                        identificationNumber,
                        identificationType,
                        deviceId
                    } = cardForm.getCardFormData()
                    
                    fetch("/checkout/process-payment", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            token,
                            issuerId,
                            paymentMethodId,
                            transactionAmount: Number(amount),
                            installments: Number(installments),
                            deviceId,
                            description: "Solicitação de Autorização de Viagem - Canadá",
                            payer: {
                                email,
                                identification: {
                                    type: identificationType,
                                    number: identificationNumber
                                }
                            }
                        })
                    })
                        .then((response) => {
                            return response.json()
                        })
                        .then((response) => {
                            switch(response.status) {
                                case 'approved':
                                    window.location.href = `/checkout/obrigado?status_detail=${response.detail}&status=${response.status}&transaction_id=${response.id}`
                                    break
                                
                                case 'rejected':
                                    window.location.href = `/checkout/recusado?status_detail=${response.detail}&status=${response.status}&transaction_id=${response.id}`
                                    break
                                
                                default:
                                    window.location.href = `/checkout/em_processo?status_detail=${response.detail}&status=${response.status}&transaction_id=${response.id}`
                            }
                        })
                        .catch(e => {
                            console.error(e)
                            alert(e)
                        })
                },
                onFetching: (resource) => {
                    console.log("Fetching resource: ", resource)

                    payButton.setAttribute('disabled', true)
                    return () => {
                        payButton.removeAttribute("disabled")
                    }

                    // Animate progress bar
                    const progressBar = document.querySelector(".progress-bar")
                    progressBar.removeAttribute("value")

                    return () => {
                        progressBar.setAttribute("value", "0")
                    }
                }
            }
        })
    }

    loadCardForm()
</script>

{{!-- Script para PIX --}}
<script defer>
    document.getElementById("form-checkout-pix").addEventListener("submit", (event) => {
        event.preventDefault()
        sendPayment()
    })

    function sendPayment() {
        const payerFirstName = document.getElementById("form-checkout-pix__payerFirstName").value
        const payerLastName = document.getElementById("form-checkout-pix__payerLastName").value
        const payerEmail = document.getElementById("form-checkout-pix__payerEmail").value

        const identificationType = document.getElementById("form-checkout-pix__identificationType").value
        const identificationNumber = document.getElementById("form-checkout-pix__identificationNumber").value
        
        document.getElementById("loading-message-pix").style.display = "block"

        fetch("/checkout/process-payment-pix", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                transactionAmount: 139.65,
                description: 'Solicitação de Autorização de Viagem - Canadá',
                payer: {
                    firstName: payerFirstName,
                    lastName: payerLastName,
                    email: payerEmail,
                    identification: {
                        type: identificationType,
                        number: identificationNumber,
                    }
                },
            }),
        }).then((response) => {
            return response.json()
        }).then((response) => {
            window.location.href = `/checkout/pix?id=${response.id}&status=${response.status}&qr_code=${response.qrCode}`
        }).catch(error => {
            alert("Unexpected error\n"+JSON.stringify(error))
        })
    }
</script>

{{!-- Scripts secundário --}}
<script>
    //Exit intent
    let mouseout = 1
    function showExitModal() {
        $('#exitModal').modal('show')
    }

    // Adiciona um ouvinte de evento ao documento
    document.addEventListener('mouseout', (e) => {
        // Verifica se o cursor está fora da janela
        if (e.relatedTarget === null) {
            if (mouseout) {
                // O cursor está fora da janela, então mostra o modal
                showExitModal()
                mouseout--
            }
        }
    })


    //Atualizar valor em tela
    const qtyVisas = "{{qtyVisas}}"
    const total = parseInt(qtyVisas) * 147
    $('.totalAmount1').text('R$ 147,00')
    $('#totalAmount2').text(`${total.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 })}`)
    $(document).ready(function() {
        $('#collapseTwo').on('show.bs.collapse', function() {
            // Atualize o conteúdo do strong
            $('.totalAmount1').text('R$ 139,65')

            const qtyVisas = "{{qtyVisas}}"
            const total = parseInt(qtyVisas) * 139.65
            $('#totalAmount2').text(`${total.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 })}`)
        })

        $('#collapseTwo').on('hide.bs.collapse', function() {
            // Restaure o valor original se necessário
            $('.totalAmount1').text('R$ 147,00')

            const qtyVisas = "{{qtyVisas}}"
            const total = parseInt(qtyVisas) * 147
            $('#totalAmount2').text(`${total.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 })}`)
        })
    })
</script>